hr {
  width: 92%;
  border: 0;
  border-top: 2px solid #dbdbdb; 
  margin: 30px 0px 10px 10px; 
}

.bazaar-container {
    text-align: left;
    background-color: #ffffff;
    height: auto;
}

.bazaar-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
}

.bazaar-header-content {
    flex: 1;
}

.bazaar-header-icon {
    width: 580px; 
    height: auto;
}

.bazaar-header-background {
    width: 100%;
    height: 100%;
}

.bazaar-title {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #ffffff;
    padding: 0px 0 0 100px;
    text-align: left;
}

.bazaar-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: left;
    padding: 10px 0 0 100px;
}

/* CONTENT CONTAINER */
.content-container {
  justify-content: center;
  margin: 20px 100px 0px 100px;
}


/* BREADCRUMB */
.breadcrumb {
    display: flex;
    font-size: 1rem;
    color: #333;
    margin: 10px 0px;
}

.breadcrumb-link {
    text-decoration: none;
    color: #f26339; 
    font-weight: bold;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.breadcrumb-separator {
    margin: 0 10px;
    color: #000000;
}

.breadcrumb-current {
    color: #000000;
    font-weight: bold;
}

/* SEARCH BAR */
.bazaar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff; 
}

.search-input {
    width: 100%;
    height: 20px;
    margin: 10px 0px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    background-color: #ffffff;
}

.search-button {
    width: 200px;
    height: 43px;
    padding: 10px 15px;
    font-size: 1.1rem;
    background-color: #f26339;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.search-button:hover {
    background-color: #ff7e57;
}


/* Filters */
.filters-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
  grid-gap: 10px; /* Optional, adds space between grid items */
  padding: 10px 0px;
}

/* Price Sort Dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.price-sort-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000000;
  font-size: 0.9rem;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.price-sort-button:hover {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}

.price-sort-button:active {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}

.arrow {
  margin-left: 35px;
  font-size: 12px;
}

.dropdown-pricesorts {
  position: absolute;
  top: 45px; /* Position the dropdown below the button */
  left: 0; /* Align the dropdown to the left of the button */
  color: #000000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 185px;
  z-index: 10;
  font-size: 0.9rem;
}

.dropdown-pricesort {
  padding: 10px;
  cursor: pointer;
}

.dropdown-pricesort:hover {
  background-color: #f0f0f0;
}



/* Three Buttons (Buffet, Bazaar, Moreh) */
.bazaar-button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.buffet-button, .bazaar-button, .moreh-button {
  padding: 10px 20px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  outline: none !important; 
  transition: background-color 0.3s ease;
}

.buffet-button:hover, .bazaar-button:hover, .moreh-button:hover {
  background-color: #ffffff;
  border: 2px solid #f26339;
  color: #f26339;
}

/* .buffet-button:active, .bazaar-button:active, .moreh-button:active  {
  background-color: #ffffff;
  border: 2px solid #f26339;
  color: #f26339;
} */

.active-button {
  color: #F26339 !important;
  border: 2px solid #F26339 !important;
}


/* Filter Button */
.filter-container {
  display: flex;
  margin-left: auto;
  width: 175px;
  position: relative;
}

.filterdropdown-button {
  padding: 10px 20px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none !important; 
  transition: background-color 0.3s ease;
}

.filterdropdown-button:hover {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}

.filterdropdown-button:active {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}

.filter-dropdown {
  position: absolute;
  top: 45px; /* Position the dropdown below the button */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 380px;
  z-index: 10;
}

.filter-select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-dropdown h3 {
  margin-top: 0;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.filter-dropdown-content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* Category Filter */
.category-select {
  display: flex; 
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px 15px 0px;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  gap: 5px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
}

.category-select:focus {
  background-color: transparent;
  outline: none;
  border: none; 
}

.category-select:active {
  background-color: transparent;
  outline: none; 
  border: none; 
}

.filtercategory-buttons {
  display: flex;
  gap: 15px;
  margin: 10px 0px;
}

.filtercategory-button {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #000000;
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.9rem;
}

.filtercategory-button:hover {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}

.filtercategory-button.active {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}


/* Price Filter */
.price-select {
  display: flex; 
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px 15px 0px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  gap: 5px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
}

.price-select:focus {
  background-color: transparent;
  outline: none;
  border: none; 
}

.price-select:active {
  background-color: transparent;
  outline: none; 
  border: none; 
}

.price-filter-container {
  margin-top: 20px;
}

.price-filter {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.price-label {
  color: #000000;
}

.price-range-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 5px;
  margin-top: 45px;
  margin-left: 12px;
  background-color: #f2643962;
  border-radius: 5px;
}

.price-slider-track {
  position: absolute;
  height: 100%;
  background-color: #f26339;
  border-radius: 5px;
}

/* Hide default track styles for range inputs */
.price-range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-50%);
  background: none;
  pointer-events: none;
  appearance: none;
  height: 5px;
}

.price-tooltip {
  position: absolute;
  transform: translateX(-50%);
  background-color: #f26339;
  color: white;
  padding: 3px 8px;
  border-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  transition: left 0.1s ease;
}

.price-range-slider input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #f26339;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
}

.slider-min-val, .slider-max-val {
  border: none;
}


/* Opening Hours Filter */
.openHour-select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px 15px 0px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  gap: 5px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
}

.openHour-select:focus {
  background-color: transparent;
  outline: none;
  border: none; 
}

.openHour-select:active {
  background-color: transparent;
  outline: none; 
  border: none; 
}

.openHour-filter-container {
  margin-top: 20px;
}

.openHour-filter {
  font-size: 16px;
  margin-bottom: 10px;
}

.openHour-label {
  color: #000000;
}


/* Closing Hours Filter */
.closeHour-select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px 15px 0px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  gap: 5px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
}

.closeHour-select:focus {
  background-color: transparent;
  outline: none;
  border: none; 
}

.closeHour-select:active {
  background-color: transparent;
  outline: none; 
  border: none; 
}

.closeHour-filter-container {
  margin-top: 20px;
}

.closeHour-filter {
  font-size: 16px;
  margin-bottom: 10px;
}

.closeHour-label {
  color: #000000;
}


/* District Filter */
.filterdistrict-select {
  display: flex; 
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px 15px 0px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  gap: 5px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
}

.filterdistrict-select:focus {
  background-color: transparent;
  outline: none;
  border: none; 
}

.filterdistrict-select:active {
  background-color: transparent;
  outline: none; 
  border: none; 
}

.filterdistrict-buttons {
  display: grid;               
  grid-template-columns: repeat(2, 1fr);  /* Two columns */
  gap: 10px;   
  margin: 10px 0px 20px 0px;               
}

.filterdistrict-button {
  padding: 10px 10px;
  margin-bottom: 0px;
  border: 1px solid #000000;
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.filterdistrict-button:hover {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}

.filterdistrict-button.active {
  background-color: #ffffff;
  border: 1px solid #f26339;
  color: #f26339;
}



/* Card Layout */
.BuffetCard {
  width: 350px; /* Set a consistent width for all cards */
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: 1px solid #ffffff;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.card-image-container {
  width: 100%; /* Make the image container span the full width of the card */
  height: 300px; /* Set a fixed height for the image container */
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container and maintains its aspect ratio */
}


/* Card Layout */
.bazaarCard {
  width: 100%; 
  max-width: 400px; 
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(20% - 30px);
  /* flex: 1 1 calc(33.33% - 30px); 3 cards per row, with gap */
  box-sizing: border-box; /* Include padding in the width */
  margin-bottom: 20px;
}

.card-image-container {
  width: 100%; /* Make the image container span the full width of the card */
  height: 250px; /* Set a fixed height for the image container */
  overflow: hidden;
  border-radius: 20px; /* Rounded corners for the top of the image container */
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container and maintains its aspect ratio */
}

/* Other styles remain unchanged */
.bazaarCard-dropdown-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.bazaarCard-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 30px 0px;
  gap: 30px;
  width: 100%;

}

/* Pseudo-element to fill remaining space */
.bazaarCard-container::after {
  content: "";
  flex: auto;
}

.bazaarCard-option {
  font-size: 1rem;
  margin: 10px 0;
  color: #776afb;
  border: 1px solid #776afb;
  border-radius: 20px;
  text-align: left;
  padding: 2px 20px 2px 20px;
  margin: 10px 0px 0px 10px;
  width: fit-content;
}

.bazaarCard-title {
  font-size: 1.15rem;
  margin: 10px 0;
  color: #000000;
  text-align: left;
  padding: 10px 0px 10px 20px;
  margin: 0px;
}

.bazaarCard-price, .bazaarCard-time {
  font-size: 1rem;
  color: #505050;
  text-align: left;
  padding: 0 20px;
  margin: 0px;
}

.bazaarCard-district {
  font-size: 1rem;
  color: #505050;
  text-align: left;
  padding: 0px 0px 20px 20px;
  margin: 0px;
}



/* Pagination */
.card-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.card-pagination button {
  font-size: 1rem;
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #FFF0EC;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.card-pagination button.active {
    background-color: #F26339;
    color: white;
}

.card-pagination button:disabled {
    background-color: #FFF0EC;
    cursor: not-allowed;
}

/* Back button styling */
.back-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1040px) {
  /* Header */
  .bazaar-header {
    height: 200px;
  }

  .bazaar-title {
    font-size: 2.5rem;
    padding: 0px 0 0 50px;
  }

  .bazaar-description {
    font-size: 1rem;
    padding: 10px 0 0 50px;
  }

  /* Content Container */
  .content-container {
    margin: 0px 0px 0px 0px;
  }

  /* Breadcrumb */
  .breadcrumb {
    font-size: 0.9rem;
    flex-direction: row;
  }

  .breadcrumb-link {
    font-size: 1rem;
  }

  /* Search Bar */
  .buffet-search {
    flex-direction: row;
    gap: 15px;
  }

  .search-button {
    width: 100%;
    font-size: 1rem;
    height: 40px;
  }

  /* Filters */
  .filters-container {
    grid-template-columns: 1fr; /* Single column on small screens */
    grid-gap: 15px;
  }

  /* Price Sort Dropdown */
  .bazaar-price-sort-button {
    font-size: 1rem;
    padding: 5px 5px;
  }

  .dropdown-pricesorts {
    width: 100%;
  }

  /* Buttons */
  .bazaar-button-container {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .buffet-button, .bazaar-button, .moreh-button {
    font-size: 1rem;
    padding: 12px 25px;
  }

  .filter-container {
    width: 100%;
    margin: 10px 0;
  }

  .filterdropdown-button {
    width: 100%;
    font-size: 1rem;
    padding: 12px 20px;
  }

  .filter-dropdown {
    width: 100%;
    padding: 15px;
  }

  .filter-select {
    font-size: 16px;
    padding: 10px;
  }

  /* Category Filter */
  .category-select {
    font-size: 1rem;
    padding: 12px 0;
  }

  .filtercategory-buttons {
    flex-direction: column;
    align-items: center;
  }

  .filtercategory-button {
    width: 100%;
    font-size: 1rem;
    padding: 12px 15px;
  }

  /* Update active button style for better contrast on small screens */
  .active-button {
    color: #F26339 !important;
    border: 2px solid #F26339 !important;
  }

  /* Price Filter */
  .price-select {
    font-size: 13px; /* Adjust font size for smaller screens */
    padding: 8px 0px 10px 0px;
  }

  .price-filter-container {
    margin-top: 15px;
  }

  .price-range-slider {
    width: 80%; /* Reduce the width of the price slider */
    margin-top: 35px;
  }

  .price-slider-track {
    height: 4px; /* Adjust the track height */
  }

  .price-tooltip {
    font-size: 12px; /* Adjust tooltip font size */
    padding: 3px 6px;
  }

  /* Opening Hours Filter */
  .openHour-select {
    font-size: 13px;
    padding: 8px 0px 10px 0px;
  }

  .openHour-filter-container {
    margin-top: 15px;
  }

  /* Closing Hours Filter */
  .closeHour-select {
    font-size: 13px;
    padding: 8px 0px 10px 0px;
  }

  .closeHour-filter-container {
    margin-top: 15px;
  }

  /* District Filter */
  .filterdistrict-select {
    font-size: 13px;
    padding: 8px 0px 10px 0px;
  }

  .filterdistrict-button {
    padding: 8px;
    font-size: 13px;
    border-radius: 8px; /* Adjust border radius for smaller screens */
  }

  .filterdistrict-button.active {
    background-color: #f26339;
    border-color: #f26339;
    color: white;
  }

  /* Card Layout */
  .bazaarCard {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .card-image-container {
    height: 200px; /* Reduce the height of the image container */
  }

  .card-image-container img {
    object-fit: cover;
  }

  .bazaarCard-title {
    font-size: 1rem;
  }

  .bazaarCard-price, .bazaarCard-time, .bazaarCard-district {
    font-size: 0.9rem; /* Reduce font size for better fit */
  }

  .bazaarCard-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on smaller screens */
    gap: 15px;
    padding: 15px;
  }

  /* Pagination */
  .card-pagination button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  /* Back button styling */
  .back-button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}
