  .hero-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: auto;
    background: url('../../assets/Ramadan.jpg') no-repeat center center/cover;
    color: white;
}
  .news-banner {
    position: absolute;
    top: 0;
    width: 100%;
    background: #ff5733;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}
  .hero-content {
    width: auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid white;
    background: transparent;
    border-radius: 10px;
    text-align: center;
    margin-right: 10%;
}
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background: #ff5733;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .cta-button:hover {
    background: #c43d24;
  }

  @media (max-width: 996px) {
    .hero-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: auto;
      background: url('../../assets/Mobile-Ramadan.jpg') no-repeat center center/cover;
      height: 100vh; /* or adjust height based on your content */
      color: white;
  }
  
    .hero-content {
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 275px;
  }
  }