.hero-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 920px;
  background: url('../../assets/Pasar Ramadan.jpg') no-repeat center center/cover;
  color: white;
  overflow: hidden;
  padding-top: 20px;
}

.hero-frame-container {
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.hero-frame {
  margin-top: 100px;
  width: 100%;
  height:fit-content;
  object-fit: scale-down; 
  animation: fadeInFromBottom 2.5s ease-out;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    clip-path: inset(100% 0 0 0); 
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0); 
  }
}

.hero-content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Promo Banner  */
.news-banner {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ff5733;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Arabic year */
.hero-year {
  font-size: 5rem;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0px;
}

.b-jaurLogo {
  width: 23rem;
  height: auto;
}

/* Text container */
.hero-text {
  width: 100%;
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

/* Orange text */
.highlight-text {
  color: #FFFFFF;
}

/* Dark orange background with light orange text */
.highlight-box {
  color: #F9BCCB; /* Light orange */
  text-shadow: 3px 3px 5px #FF6131; /* Darker orange shadow */
  font-weight: bold;
}

/* Normal text */
.normal-text {
  color: #FFFFFF;
}

/* Description */
.hero-descriptionBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-description {
  font-size: 2rem;
  color: #FFFFFF;
  max-width: auto;
  margin: 10px;
  text-align: left;
  font-weight: bold;
}

/* Search container */
.search-container-restaurantBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 25px;
}

.search-container-restaurant {
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 70%;
  background-color: #776AFB;
}

/* Search input */
.search-restaurant {
  border: none;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  flex: 1; /* Takes all available space */
  background-color: #fff;
  border-radius: 20px 0px 0px 20px;
}

/* Search button */
.look-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
}

.search-icon {
  display: flex;
  align-items: center;
  padding-right: 5px;
  width: 20px; 
  height: 20px;
}

.hero-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 45%; 
  height: auto;
  z-index: 10;
}

.down-arrow {
  position: absolute;
  bottom: -200px;            
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
  animation: bounce 1.5s infinite;
  color: white;
  transition: background 0.3s ease-in-out;
}

.down-arrow:hover {
  background: rgba(255, 255, 255, 0.4); /* Slightly brighter on hover */
}

.down-arrow-icon {
  font-size: 25px;
}


@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
}

@media (max-width: 1440px) {
  .hero-frame-container {
    margin-top: 120px;
  }

  .hero-frame {
    width: 100%;
    height: 125%;
    object-fit: cover; 
  }
  
  .hero-content {
    position: absolute;
    top: 48%;
    left: 50%;
  }

  .b-jaurLogo {
    width: 300px;
    height: auto;
  }

  .normal-text {
    margin: -15px 0px 0px 0px;
  }
  
  .hero-text {
    font-size: 3.85rem;
    display: flex;
    flex-direction: row; 
    margin: 20px 0px;
    gap: 2rem;
    padding: 0px;
  }
  
  .hero-description {
    font-size: 1.5rem;
    margin: 20px 10px;
    text-align: justify;
  }
  
  .down-arrow {
    position: absolute;
    bottom: -180px;            
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1024px) {
  .hero-frame-container {
    margin-top: 0px;
  }

  .hero-frame {
    width: 100%;
    height: 90%;
    object-fit: cover; 
  }
  
  .hero-content {
    position: absolute;
    top: 55%;
    left: 50%;
  }
  
  /* Arabic year */
  .hero-year {
    font-size: 3.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0px 0px 20px 0px;
  }

  .b-jaurLogo {
    width: 300px;
    height: auto;
  }

  .normal-text {
    margin: -15px 0px 0px 0px;
  }
  
  .hero-text {
    font-size: 3.85rem;
    display: flex;
    flex-direction: column; 
    margin: 0px 0px;
    gap: 0px;
    padding: 0px;
  }
  
  .hero-description {
    font-size: 1.25rem;
    margin: 20px 10px;
    text-align: justify;
    visibility: hidden;
  }
  
  .down-arrow {
    position: absolute;
    bottom: -40px;            
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .hero-frame-container {
    margin-top: -50px;
  }

  .hero-frame {
    width: 100%;
    height: 80%;
    object-fit: cover; 
  }

  .hero-content {
    top: 55%;
    left: 50%;
  }
  
  /* Arabic year */
  .hero-year {
    font-size: 3.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0px 0px 40px 0px;
  }
  
  .highlight-text {
    font-size: 4rem;
    margin: 0px 0px -15px 0px;
  }

  .b-jaurLogo {
    width: 300px;
    height: auto;
  }

  .normal-text {
    margin: -15px 0px 0px 0px;
  }
  
  .hero-text {
    font-size: 3.85rem;
    display: flex;
    flex-direction: column; 
    margin: 0px 0px;
    gap: 0px;
    padding: 0px;
  }
  
  .hero-description {
    font-size: 1.25rem;
    margin: 20px 10px;
    text-align: justify;
    visibility: hidden;
  }
  
  .down-arrow {
    position: absolute;
    bottom: -50px;            
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .hero-section {
    height: 780px;
    padding-top: 0px;
  }

  .hero-frame-container {
    margin-top: -45px;
  }

  .hero-frame-container {
    overflow: hidden; 
  }

  .hero-frame {
    width: 100%;
    height: 70%;
    object-fit: cover; 
  }

  .hero-content {
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* Arabic year */
  .hero-year {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0px 0px 40px 0px;
  }
  
  .highlight-text {
    font-size: 3.3rem;
    margin: 0px 0px -15px 0px;
  }

  .b-jaurLogo {
    width: 250px;
    height: auto;
  }

  .normal-text {
    margin: -15px 0px 0px 0px;
  }
  
  .hero-text {
    font-size: 3.25rem;
    display: flex;
    flex-direction: column; 
    margin: 0px 0px;
    gap: 0px;
    padding: 0px;
  }
  
  .hero-description {
    font-size: 1.25rem;
    margin: 20px 10px;
    text-align: justify;
    visibility: hidden;
  }
  
  .down-arrow {
    position: absolute;
    bottom: -20px;            
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 360px) {
  .hero-frame-container {
    margin-top: -50px;
  }

  .hero-section {
    height: 730px;
    padding-top: 0px;
  }

  .down-arrow {
    position: absolute;
    bottom: 40px;            
    width: 40px;
    height: 40px;
  }

  .hero-content {
    top: 450px;
  }
}