.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.footer a {
  color: #ff6131;
  text-decoration: none;
}

.footer a:hover {
  color: #ff8560;
  text-decoration: underline;
}

.footer a:active {
  color: #ff8560;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    font-size: 8px;
  }
}