/* MapView.css */
.map-container {
    position: relative;
    width: 50%;
    height: 50%; /* Full-screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #776AFB; /* Light gray background */
  }

/* SVG styling */
.svg-container {
    width: 100%;
    height: 500px;
    background-color: #776AFB; /* Light gray background */
    border-radius: 25px;
  }
  
  /* Scoped styles for SVG paths */
  .svg-container path {
    cursor: pointer;
    fill: #f3f2ec; 
    transition: fill 0.3s ease;
  }
  
  .svg-container path:hover {
    fill: #D2A034; 
  }
  
  .svg-container .active path {
    fill: #D2A034;
  }