/* Wrapper to prevent scaling or resizing */
.Map-container {
  position: relative;
  width: 100vw; 
  height: 70vh;
  overflow: hidden;
  display: flex;
  flex: 1; 
  justify-content: flex-end;
}

/* Background container */
.DistrictBackground-container {
  position: absolute;
  top: 50%; 
  left: 50%; 
  width: 430px; 
  height: 430px; 
  background: #776AFB;
  border-radius: 30px;
  transform: translate(-50%, -50%); 
  z-index: 0;
}

/* Overlay container */
.DistrictOverlay-container {
  position: absolute;
  top: 46%;
  left: 54%;
  width: 380px; 
  height: 380px; 
  background: none;
  border: 6px solid #ff8248;
  border-radius: 30px;
  padding: 20px;
  transform: translate(-50%, -50%); 
  z-index: 1;
}

/* SVG container */
.svg-container {
  width: 420px; 
  height: 420px; 
  background-color: none;
  border-radius: 25px;
  right: 40px;
  position: relative;
  z-index: 2;
}

/* Scoped styles for SVG paths */
.svg-container path {
  cursor: pointer;
  fill: #f3f2ec;
  transition: fill 0.3s ease;
}

.svg-container path:hover {
  fill: #ff8248;
}

.svg-container .active path {
  fill: #ff8248;
}

@media (max-width: 768px) {
  
  .DistrictMap-container {
    height: 80vh; 
  }

  .DistrictBackground-container,
  .DistrictOverlay-container,
  .svg-container {
    width: 70%; 
    height: auto; 
  }

  .DistrictBackground-container {
    top: 40%; /* Adjust the vertical position */
    left: 50%;
  }

  .DistrictOverlay-container {
    top: 40%; /* Adjust the vertical position */
    left: 50%;
  }

  .svg-container {
    top: 20%; /* Adjust the vertical position */
    right: 10px;
  }
}

/* For mobile devices (480px and smaller) */
@media (max-width: 480px) {
  .Map-container {
    position: relative;
    width: 100vw; 
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex: 1; 
    justify-content: flex-end;
    margin: 0px 10px;
  }
  
  /* Background container */
  .DistrictBackground-container {
    position: absolute;
    top: 30%; 
    left: 44%; 
    width: 265px; 
    height: 265px; 
    background: #776AFB;
    border-radius: 30px;
    transform: translate(-50%, -50%); 
    z-index: 0;
  }
  
  /* Overlay container */
  .DistrictOverlay-container {
    position: absolute;
    top: 45%;
    left: 55%;
    width: 220px; 
    height: 220px; 
    background: none;
    border: 6px solid #ff8248;
    border-radius: 30px;
    padding: 20px;
    transform: translate(-50%, -50%); 
    z-index: 1;
  }
  
  /* SVG container */
  .svg-container {
    width: 300px; 
    height: 265px; 
    top: -7%;
    background-color: none;
    border-radius: 25px;
    right: 46px;
    position: relative;
    z-index: 2;
  }
  
  /* Scoped styles for SVG paths */
  .svg-container path {
    cursor: pointer;
    fill: #f3f2ec;
    transition: fill 0.3s ease;
  }
  
  .svg-container path:hover {
    fill: #ff8248;
  }
  
  .svg-container .active path {
    fill: #ff8248;
  }
}

@media (max-width: 360px) {
  .Map-container {
    position: relative;
    width: 100vw; 
    height:80vh;
    overflow: hidden;
    display: flex;
    flex: 1; 
    justify-content: flex-end;
    margin: 0px 10px;
  }
  
  /* Background container */
  .DistrictBackground-container {
    position: absolute;
    top: 30%; 
    left: 44%; 
    width: 265px; 
    height: 265px; 
    background: #776AFB;
    border-radius: 30px;
    transform: translate(-50%, -50%); 
    z-index: 0;
  }
  
  /* Overlay container */
  .DistrictOverlay-container {
    position: absolute;
    top: 45%;
    left: 55%;
    width: 220px; 
    height: 220px; 
    background: none;
    border: 6px solid #ff8248;
    border-radius: 30px;
    padding: 20px;
    transform: translate(-50%, -50%); 
    z-index: 1;
  }
  
  /* SVG container */
  .svg-container {
    width: 300px; 
    height: 265px; 
    top: -7%;
    background-color: none;
    border-radius: 25px;
    right: 46px;
    position: relative;
    z-index: 2;
  }
  
  /* Scoped styles for SVG paths */
  .svg-container path {
    cursor: pointer;
    fill: #f3f2ec;
    transition: fill 0.3s ease;
  }
  
  .svg-container path:hover {
    fill: #ff8248;
  }
  
  .svg-container .active path {
    fill: #ff8248;
  }
}