/* Wrapper to prevent scaling or resizing */
.DistrictMap-container {
  position: relative;
  width: 100vw; /* Use the full viewport width */
  height: 60vh; /* Use the full viewport height */
  overflow: hidden; /* Prevent scrolling */
  display: flex;
  flex: 1; 
  justify-content: flex-end;
}

/* Background container (fixed size) */
.DistrictBackground-container {
  position: absolute;
  top: 50%; /* Centered vertically */
  left: 50%; /* Centered horizontally */
  width: 430px; /* Fixed width */
  height: 430px; /* Fixed height */
  background: #776AFB;
  border-radius: 30px;
  transform: translate(-50%, -50%); /* Center it */
  z-index: 0;
}

/* Overlay container (fixed size) */
.DistrictOverlay-container {
  position: absolute;
  top: 46%;
  left: 54%;
  width: 380px; /* Fixed width */
  height: 380px; /* Fixed height */
  background: none;
  border: 6px solid #ff8248;
  border-radius: 30px;
  padding: 20px;
  transform: translate(-50%, -50%); /* Center it */
  z-index: 1;
}

/* SVG container (fixed size) */
.svg-container {
  width: 420px; /* Fixed width */
  height: 420px; /* Fixed height */
  background-color: none;
  border-radius: 25px;
  right: 40px;
  position: relative;
  z-index: 2;
}

/* Scoped styles for SVG paths */
.svg-container path {
  cursor: pointer;
  fill: #f3f2ec;
  transition: fill 0.3s ease;
}

.svg-container path:hover {
  fill: #ff8248;
}

.svg-container .active path {
  fill: #ff8248;
}

@media (max-width: 999px) {
  .DistrictMap-container {
    height: 60vh;
  }

  .DistrictBackground-container {
    top: 50%; /* Adjust the vertical position */
    left: 48%;
  }

  
}

@media (max-width: 768px) {
  .DistrictMap-container {
    height: 80vh; /* Adjust the height for smaller screens */
  }

  .DistrictBackground-container,
  .DistrictOverlay-container,
  .svg-container {
    width: 70%; /* Adjust width to take up more of the available space */
    height: auto; /* Allow height to adjust proportionally */
  }

  .DistrictBackground-container {
    top: 40%; /* Adjust the vertical position */
    left: 50%;
  }

  .DistrictOverlay-container {
    top: 40%; /* Adjust the vertical position */
    left: 50%;
  }

  .svg-container {
    top: 20%; /* Adjust the vertical position */
    right: 10px;
  }
}

/* For mobile devices (480px and smaller) */
@media (max-width: 480px) {
  .DistrictMap-container {
    height: 90vh; /* Adjust the height for very small screens */
  }

  .DistrictBackground-container,
  .DistrictOverlay-container,
  .svg-container {
    width: 90%; /* Make the elements take up most of the screen width */
    height: auto;
  }

  .DistrictBackground-container {
    top: 35%;
    left: 50%;
  }

  .DistrictOverlay-container {
    top: 35%;
    left: 50%;
  }

  .svg-container {
    top: 10%;
    right: 5px;
  }
}